@import "src/assets/styles/sass/utils";

.question {
  border-top: 1px solid $divider-color;
  padding: rhythmScale(5) 0 rhythmScale(5) 0;

  &:first-of-type {
    border-top: 0;
  }

  h3 {
    font-weight: 300;
    font-size: 30px;
    padding: 0 0 rhythmScale(2) 0;
    margin: 0;
    color: $primary-color;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0;
    padding: rhythmScale(1);
    cursor: pointer;
    border-radius: $border-radius-small;
    input {
      margin-right: rhythmScale(1);
    }
    &:hover {
      background-color: $body-bg-color-darker;
    }
  }
}
